@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #28124E;
    font-family: 'Comfortaa', sans-serif;
    color: white;

}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.logo{
    color: white;


}
.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: left;
    z-index: 1000;
}
.navbar{
    display: flex;
}
.menu-1{
    margin-right: 60px;
    margin-left: 20px
}
.menu-1 ul li a{
    color: white;
}
.menu-2{
    margin-left: 480px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: end;
}
.socials{
    position: absolute;
    margin: 0;
    height: 40px;
     h: 40px;
    justify-content: right;
}
.social img{
    margin: 8px 0 0 10px;
}
.download_app{
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.menu-3{
    position: absolute;
    top: 240px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}
.menu .navbar ul li{
    position: relative;
    float: left;
}
.policy{
    position: absolute;
    top: 348px;
    left: 20px;
    right: 20px;
    display:inline-block;
    justify-content: center;
    z-index: 1000;
}
.privacy_policy p{
    margin: 8px 0 0 0px;
}